<h1><%= @customer.first_name %> <%= @customer.last_name %></h1>
<p>Email: <%= @customer.email %></p>
<p>Favorite Coffee Shop: <%= link_to @customer.favorite_coffee_shop.name, coffee_shop_path(@customer.favorite_coffee_shop) %></p>
