<!--2.1 - About Page-->

<h1>About Page</h1>
<p>This application uses data generated using the Faker gem for various entities including Coffee Shops, Customers, and Reviews.</p>
<p>The ERD for this application is as follows:</p>
<%= image_tag 'erd.png' %>